@using WebDiaryVersion1.ViewModels;
@model CreatingGradeViewModel



<div>
  <form action="/creating" method="post">
	  <label>Название Класса</label>
	  <input name="GradeName" type="text"/>

	  <button>Создать класс</button>
  </form>
</div>