@using WebDiaryVersion1.ViewModels;
@model JoinToGradeViewModel


@if(@Model != null)
{
<div>
  <form action="/join" method="post">
	  <label>Идентификатор Класса</label>
	  <input name="guid" type="text" value="@Model.guid"/>
	  <button>Присоедениться</button>
  </form>
</div>
}
else
{
	<h1>Пользователь не авторизован</h1>
}